matplotlib>=3.8
cartopy~=0.24.1
numpy
scipy~=1.15.3
fastapi~=0.115.12
geojsoncontour==0.5.1
# gdal==3.11.0 # Prefer `conda install -c conda-forge gdal==3.11.0` for system dependencies
#togeojsontiles==0.1.2
git+https://github.com/bartromgens/togeojsontiles.git@master#egg=togeojsontiles
uvicorn

geotiff==0.2.10
imagecodecs==2025.3.30
pydantic>=2.5.3
