@import "../../../styles/variables";
@import "grid-sidebar";

.maps-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100%;
  height: 100%;
  gap: 0;

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

