@import "../../../../styles/overlay-button.scss";

:host {
  bottom: 240px;
  right: 20px;

  @media (max-width: 768px) {
    bottom: 180px;
    right: 10px;
  }
}

.contour-toggle-overlay {
  @extend .overlay-toggle-button;
}
