<ng-template #searchField let-autocomplete="autocomplete">
  <mat-form-field appearance="fill">
    <mat-icon matPrefix>search</mat-icon>
    <input
      type="text"
      matInput
      placeholder="Search city or country..."
      [formControl]="searchControl"
      [matAutocomplete]="autocomplete"
    />
    <button
      *ngIf="searchControl.value"
      mat-icon-button
      matSuffix
      (click)="clearSearch()"
      aria-label="Clear"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</ng-template>

<ng-template #autocompleteOptions>
  <mat-option
    *ngFor="let location of filteredLocations$ | async"
    [value]="location"
  >
    {{ location.displayName }}
  </mat-option>
</ng-template>

<mat-toolbar>
  <a routerLink="/" class="app-title-link">
    <span>{{ title }}</span>
  </a>

  <a *ngIf="!isMobile" mat-button routerLink="/">Map</a>
  <a *ngIf="!isMobile" mat-button routerLink="/scenarios">Scenarios</a>
  <a *ngIf="!isMobile" mat-button routerLink="/monthly">Months</a>
  <a *ngIf="!isMobile" mat-button routerLink="/yearranges">Year Ranges</a>

  <span class="spacer"></span>

  <div class="search-container" *ngIf="!isMobile">
    <ng-container
      *ngTemplateOutlet="searchField; context: { autocomplete: auto }"
    ></ng-container>
    <mat-autocomplete
      #auto="matAutocomplete"
      [displayWith]="displayLocationName"
      (optionSelected)="onLocationSelected($event.option.value)"
    >
      <ng-container *ngTemplateOutlet="autocompleteOptions"></ng-container>
    </mat-autocomplete>
  </div>

  <nav class="nav-links" *ngIf="!isMobile">
    <a mat-button routerLink="/about">Info</a>
    <a
      mat-button
      href="https://github.com/bartromgens/climatemaps"
      target="_blank"
      >Code</a
    >
  </nav>

  <button
    *ngIf="isMobile"
    mat-icon-button
    [matMenuTriggerFor]="mobileMenu"
    aria-label="Menu"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #mobileMenu="matMenu" class="mobile-menu">
    <div
      class="mobile-search-container"
      (click)="$event.stopPropagation()"
      (keydown)="$event.stopPropagation()"
      tabindex="0"
      role="search"
    >
      <ng-container
        *ngTemplateOutlet="searchField; context: { autocomplete: autoMobile }"
      ></ng-container>
      <mat-autocomplete
        #autoMobile="matAutocomplete"
        [displayWith]="displayLocationName"
        (optionSelected)="onLocationSelected($event.option.value)"
      >
        <ng-container *ngTemplateOutlet="autocompleteOptions"></ng-container>
      </mat-autocomplete>
    </div>
    <a mat-menu-item routerLink="/">
      <mat-icon>map</mat-icon>
      <span>Map</span>
    </a>
    <a mat-menu-item routerLink="/scenarios">
      <mat-icon>grid_view</mat-icon>
      <span>Scenarios</span>
    </a>
    <a mat-menu-item routerLink="/monthly">
      <mat-icon>calendar_month</mat-icon>
      <span>Months</span>
    </a>
    <a mat-menu-item routerLink="/yearranges">
      <mat-icon>date_range</mat-icon>
      <span>Year Ranges</span>
    </a>
    <a mat-menu-item routerLink="/about">
      <mat-icon>info</mat-icon>
      <span>Info</span>
    </a>
    <a
      mat-menu-item
      href="https://github.com/bartromgens/climatemaps"
      target="_blank"
    >
      <mat-icon>code</mat-icon>
      <span>Code</span>
    </a>
  </mat-menu>
</mat-toolbar>

<router-outlet></router-outlet>
