<div class="row controls-row">
  <mat-form-field subscriptSizing="dynamic" class="dropdown-field">
    <mat-label>Variable Type</mat-label>
    <mat-select
      [(value)]="controlsData.selectedVariableType"
      (selectionChange)="onVariableTypeChange()"
    >
      <mat-option
        *ngFor="let variableType of controlsOptions.variableTypes"
        [value]="variableType"
        [disabled]="
          !controlsOptions.availableVariableTypes.includes(variableType)
        "
        [class.disabled-option]="
          !controlsOptions.availableVariableTypes.includes(variableType)
        "
      >
        {{ controlsOptions.climateVariables[variableType].displayName }} ({{
          controlsOptions.climateVariables[variableType].unit
        }})
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field subscriptSizing="dynamic" class="dropdown-field">
    <mat-label>Year Range</mat-label>
    <mat-select
      [(value)]="controlsData.selectedYearRange"
      (selectionChange)="onYearRangeChange()"
    >
      <mat-option
        *ngFor="
          let yearRange of controlsOptions.yearRanges;
          trackBy: trackByYearRange
        "
        [value]="yearRange"
        [disabled]="!controlsOptions.availableYearRanges.includes(yearRange)"
        [class.disabled-option]="
          !controlsOptions.availableYearRanges.includes(yearRange)
        "
      >
        {{ yearRange.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field subscriptSizing="dynamic" class="dropdown-field">
    <mat-label>Resolution</mat-label>
    <mat-select
      [(value)]="controlsData.selectedResolution"
      (selectionChange)="onResolutionChange()"
    >
      <mat-option
        *ngFor="let resolution of controlsOptions.resolutions"
        [value]="resolution"
        [disabled]="!controlsOptions.availableResolutions.includes(resolution)"
        [class.disabled-option]="
          !controlsOptions.availableResolutions.includes(resolution)
        "
      >
        {{ getResolutionDisplayName(resolution) }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field
    subscriptSizing="dynamic"
    class="dropdown-field"
    *ngIf="
      controlsData.selectedYearRange &&
      !controlsOptions.isHistoricalYearRange(
        controlsData.selectedYearRange.value
      )
    "
  >
    <mat-label>Climate Scenario</mat-label>
    <mat-select
      [(value)]="controlsData.selectedClimateScenario"
      (selectionChange)="onClimateScenarioChange()"
    >
      <mat-option
        *ngFor="let scenario of controlsOptions.climateScenarios"
        [value]="scenario"
        [disabled]="
          !controlsOptions.availableClimateScenarios.includes(scenario)
        "
        [class.disabled-option]="
          !controlsOptions.availableClimateScenarios.includes(scenario)
        "
      >
        {{ scenario }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field
    subscriptSizing="dynamic"
    class="dropdown-field"
    *ngIf="
      controlsData.selectedYearRange &&
      !controlsOptions.isHistoricalYearRange(
        controlsData.selectedYearRange.value
      )
    "
  >
    <mat-label>Climate Model</mat-label>
    <mat-select
      [(value)]="controlsData.selectedClimateModel"
      (selectionChange)="onClimateModelChange()"
    >
      <mat-option
        *ngFor="let model of controlsOptions.climateModels"
        [value]="model"
        [disabled]="!controlsOptions.availableClimateModels.includes(model)"
        [class.disabled-option]="
          !controlsOptions.availableClimateModels.includes(model)
        "
      >
        {{ model }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div
    class="checkbox-field"
    *ngIf="
      controlsData.selectedYearRange &&
      !controlsOptions.isHistoricalYearRange(
        controlsData.selectedYearRange.value
      )
    "
  >
    <mat-checkbox
      [(ngModel)]="controlsData.showDifferenceMap"
      (change)="onDifferenceMapChange()"
      color="primary"
    >
      Show Difference
    </mat-checkbox>
  </div>
</div>
