<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    mode="side"
    [(opened)]="sidebarOpened"
    class="custom-sidebar"
  >
  </mat-sidenav>
  <mat-sidenav-content>
    <div
      class="page-content-wrapper"
      leaflet
      [leafletOptions]="options"
      (leafletClick)="onMapClick($event)"
      (leafletMapReady)="onMapReady($event)"
      (leafletMapMoveEnd)="onMove($event)"
      (leafletMapZoomEnd)="onZoom($event)"
    ></div>
    <div class="row">
      <mat-form-field subscriptSizing="dynamic">
        <mat-label>Select tile layer</mat-label>
        <mat-select
          [(value)]="selectedOption"
          (selectionChange)="onLayerChange()"
        >
          <mat-option *ngFor="let opt of layerOptions" [value]="opt">
            {{ opt.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <div class="column">
        <app-month-slider
          (valueChange)="onMonthSelected($event)"
        ></app-month-slider>
      </div>
      <div class="column">
        <app-year-slider></app-year-slider>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
