<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    mode="side"
    [(opened)]="sidebarOpened"
    class="custom-sidebar"
  >
  </mat-sidenav>
  <mat-sidenav-content>
    <div
      class="page-content-wrapper"
      leaflet
      [leafletOptions]="options"
      (leafletClick)="onMapClick($event)"
      (leafletMapReady)="onMapReady($event)"
      (leafletMapMoveEnd)="onMove($event)"
      (leafletMapZoomEnd)="onZoom($event)"
    ></div>
    <app-month-slider></app-month-slider>
    <app-year-slider></app-year-slider>
  </mat-sidenav-content>
</mat-sidenav-container>
