<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    mode="side"
    [(opened)]="sidebarOpened"
    class="custom-sidebar"
  >
  </mat-sidenav>
  <mat-sidenav-content>
    <div
      class="page-content-wrapper"
      leaflet
      [leafletOptions]="options"
      (leafletClick)="onMapClick($event)"
      (leafletMapReady)="onMapReady($event)"
      (leafletMapMoveEnd)="onMove($event)"
      (leafletMapZoomEnd)="onZoom($event)"
    ></div>
    <app-map-controls
      [controlsData]="controlsData"
      [controlsOptions]="controlsOptions"
      (controlsChange)="onControlsChange($event)"
    ></app-map-controls>
    <div class="row">
      <div class="column">
        <app-month-slider
          (valueChange)="onMonthSelected($event)"
        ></app-month-slider>
      </div>
      <div class="column">
        <app-year-slider></app-year-slider>
      </div>
    </div>
    <app-colorbar
      [colormapUrl]="selectedOption?.climateMap?.colormapUrl || null"
      [displayName]="selectedOption?.climateMap?.getDisplayName() || null"
      [selectedMonth]="monthSelected"
    ></app-colorbar>
  </mat-sidenav-content>
</mat-sidenav-container>
