.search-container {
  display: flex;
  align-items: center;
}

.custom-search-input {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 24px;
  height: 42px;
  padding: 0 12px;
  width: 220px;
  position: relative;
  transition: background-color 0.2s;

  &:hover {
    background-color: #eeeeee;
  }

  &:focus-within {
    background-color: #e0e0e0;
  }

  .search-icon {
    color: #9e9e9e;
    margin-right: 8px;
    font-size: 20px;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }

  .search-input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
    line-height: 20px;
    padding: 0;
    color: rgba(0, 0, 0, 0.87);

    &::placeholder {
      color: #9e9e9e;
      opacity: 1;
    }

    &::-webkit-input-placeholder {
      color: #9e9e9e;
    }

    &::-moz-placeholder {
      color: #9e9e9e;
    }
  }

  .clear-button {
    width: 32px;
    height: 32px;
    min-width: 32px;
    padding: 0;
    margin-left: 4px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    ::ng-deep .mat-icon-button {
      width: 32px;
      height: 32px;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .mat-icon {
      font-size: 18px;
      width: 18px;
      height: 18px;
      line-height: 18px;
      color: #9e9e9e;
    }
  }
}

