<div class="climate-model-overlay" *ngIf="show">
  <mat-form-field subscriptSizing="dynamic" class="overlay-select-field">
    <mat-label>Climate Model</mat-label>
    <mat-select
      [value]="selectedClimateModel"
      (selectionChange)="onClimateModelChange($event)"
    >
      <mat-option
        *ngFor="let model of climateModels"
        [value]="model"
        [disabled]="!availableClimateModels.includes(model)"
        [class.disabled-option]="!availableClimateModels.includes(model)"
      >
        {{ getClimateModelDisplayName(model) }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
