<!-- Mobile hamburger menu button -->
<button
  *ngIf="isMobile"
  mat-icon-button
  class="mobile-hamburger-button"
  [matMenuTriggerFor]="mobileMenu"
  aria-label="Menu"
>
  <mat-icon>menu</mat-icon>
</button>

<mat-menu #mobileMenu="matMenu" class="mobile-menu">
  <ng-template #searchField let-autocomplete="autocomplete">
    <mat-form-field appearance="fill">
      <mat-icon matPrefix>search</mat-icon>
      <input
        type="text"
        matInput
        placeholder="Search city or country..."
        [formControl]="searchControl"
        [matAutocomplete]="autocomplete"
      />
      <button
        *ngIf="searchControl.value"
        mat-icon-button
        matSuffix
        (click)="clearSearch()"
        aria-label="Clear"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </ng-template>

  <div
    class="mobile-search-container"
    (click)="$event.stopPropagation()"
    (keydown)="$event.stopPropagation()"
    tabindex="0"
    role="search"
  >
    <ng-container
      *ngTemplateOutlet="searchField; context: { autocomplete: auto }"
    ></ng-container>
    <mat-autocomplete
      #auto="matAutocomplete"
      [displayWith]="displayLocationName"
      (optionSelected)="onLocationSelected($event.option.value)"
    >
      <mat-option
        *ngFor="let location of filteredLocations$ | async"
        [value]="location"
      >
        {{ location.displayName }}
      </mat-option>
    </mat-autocomplete>
  </div>
  <a mat-menu-item routerLink="/">
    <mat-icon>map</mat-icon>
    <span>Map</span>
  </a>
  <a mat-menu-item routerLink="/seasons">
    <mat-icon>calendar_month</mat-icon>
    <span>Seasons</span>
  </a>
  <a mat-menu-item routerLink="/climate-predictions">
    <mat-icon>date_range</mat-icon>
    <span>Climate Predictions</span>
  </a>
  <a mat-menu-item routerLink="/climate-scenarios">
    <mat-icon>grid_view</mat-icon>
    <span>Climate Scenarios</span>
  </a>
  <a mat-menu-item routerLink="/climate-matrix">
    <mat-icon>table_chart</mat-icon>
    <span>Climate Matrix</span>
  </a>
  <a mat-menu-item routerLink="/about">
    <mat-icon>info</mat-icon>
    <span>About</span>
  </a>
  <a
    mat-menu-item
    href="https://github.com/bartromgens/climatemaps"
    target="_blank"
  >
    <mat-icon svgIcon="github"></mat-icon>
    <span>GitHub</span>
  </a>
  <div
    class="mobile-settings-container"
    (click)="$event.stopPropagation()"
    (keydown)="$event.stopPropagation()"
    tabindex="0"
  >
    <div class="settings-section">
      <span class="settings-label">Temperature Unit</span>
      <app-temperature-unit-selector></app-temperature-unit-selector>
    </div>
  </div>
</mat-menu>
