<div class="resolution-overlay" *ngIf="show">
  <mat-form-field subscriptSizing="dynamic" class="overlay-select-field">
    <mat-label>Resolution</mat-label>
    <mat-select
      [value]="selectedResolution"
      (selectionChange)="onResolutionChange($event)"
    >
      <mat-option
        *ngFor="let resolution of resolutions"
        [value]="resolution"
        [disabled]="!availableResolutions.includes(resolution)"
        [class.disabled-option]="!availableResolutions.includes(resolution)"
      >
        {{ getResolutionDisplayName(resolution) }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

