@import "../../../styles/overlay-button.scss";

:host {
  bottom: 430px;
  right: 20px;

  @media (max-width: 768px) {
    bottom: 130px;
  }
}

.show-change-toggle-overlay {
  @extend .overlay-toggle-button;
}
