html, body {
    height:100%;
}

body {
    padding-top: 68px;
}

#map-container {
    position: relative;
    padding: 0;
    height: 100%;
    width: 100%;
}

#map {
    position: relative;
    padding: 0;
    height: 100%;
    width: 100%;
}

#info {
    position: absolute;
    border-radius: 5px;
    background-color: black;
    color: white;
    padding: 7px;
    z-index: 1;
}

#slider-container {
    position: absolute;
    left:0;
    right:0;
    bottom: 0%;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0em 0em 0em 0em;
    font-weight: bold;
    background-color: white;
    border-radius: 5px 5px 0px 0px;
    z-index: 1;
}

.plot-stettings-input-fields {
    padding: 0.5em 1em 0.5em 1em;
}

#colorbar-legend-container {
    position: absolute;
    top: 4em;
    right: 5px;
    height: 50%;
    width: 12%;
    max-width: 6em;
    margin: auto;
    background-image: url("./data/precipitation/1_colorbar.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0.5em 0.5em 0.5em 0.5em;
    font-weight: bold;
    z-index: 1;
    display: block;
}
