html, body {
    height:100%;
    padding: 0;
}

#map-container {
    height: 80%;
    width: 100%;
}

#map {
    height: 100%;
    width: 100%;
}

.station-name {
    top: 10px;
    left: 3em;
}

#info {
    position: absolute;
    border-radius: 5px;
    background-color: black;
    color: white;
    padding: 7px;
    z-index: 1;
}

.plot-stettings-input-fields {
    /*padding: 0.5em;*/
    padding: 0.5em;
}
